body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game {
    background-color: #fff;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: cadetblue;
}

#game-over h1 {
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
}

#game-over button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
